body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main-header
{
  padding: 10px;
  margin: 0px;
  border: 0px solid #ffffff;
  background: aliceblue;
  background-size: 210px 80px;
}

.header-right
{
  float: right;
  height: 90px;
  vertical-align: bottom;
}

.main-content
{
  width: 100%;
}

.FoodStorage
{
  padding: 0 15px;
  margin: 10px auto;
  float: none;
}

.AddFoodStorage 
{
  padding: 3px 7px 0 7px;
  margin: 10px auto;
  float: none;
  width: 492px;
}

.AddFoodStorage .food-select
{
  margin-top: -11px;
  width: 128px;
}

.AddFoodStorage .expiration
{
  margin-left: 10px;
  width: 75px;
}

.AddFoodStorage .note
{
  margin-left: 10px;
}

.AddFoodStorage .add-button
{
  margin-left: 10px;
}

.FoodStorageObject
{
  float: left;
  background-color: aliceblue;
  margin: 6px;  
  border-radius: 4px;
  padding: 5px;
  border: 1px solid lightblue;
  width: 250px;
  height: 80px;
}

.FoodStorageObject .image
{
  float: left;
}

.FoodStorageObject .description
{
  float: right;
  width: 180px;
}

.FoodStorageObject .description .name
{
  font-weight: bold;
  font-size: 120%;
}

.FoodStorageObject .expiring
{
  color: red;
}

.FoodStorageObject .description .note
{
  overflow: auto;
  width: 170px;
  height: 40px;
  padding-right: 15px;
}

.FoodStorageObject .delete 
{
  display: none;
  float: right;
  margin-top: -3px;
  margin-right: -183px;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 30px;
  background: darkred;
  font-size: 31px;
  line-height: 0px;
  padding: 6px 3px 10px 3px;     
}

.FoodStorageObject:hover .delete 
{
  display: block;
}

.FoodStorageObject .delete:before 
{
  content: "-";
}